/*
	Máquina de Turing
	Sergio Guerra Vega  2010
*/

body
{
	background-image:url('./img/FondoMT.png');
	background-repeat:repeat-x;
		
}

.titulo
{
	font-size:34px;
	font-family:Calibri,Arial;
	color:#336699;
}

.autor{
	color:#336699;
	font-size:20px;
	position:absolute;
	bottom:20px;
	right:20px;
	font-family:Calibri,Arial;
	z-index:0;
}

.propiedades
{
	font-family:Calibri,Arial;	
	font-size:18px;
	font-weight:bold;
}

.definicion{
	
	font-family:Calibri,Arial;	
	font-size:26px;

}

input{
	background-color:transparent;
	width:120px;
	border-width:0;
	font-family:Calibri,Arial;	
	font-size:18px;
	text-align:center;
	color:#993333;
}

select{
	background-color:transparent;
	width:200px;
	border-width:0;
	font-family:Calibri,Arial;	
	font-size:18px;
	text-align:center;
	color:#993333;
}


button
{
	background-color:transparent;	
	border-width:0;
	font-family:Calibri,Arial;	
	font-size:24px;
	color:#339933;	
	cursor:pointer;
}

textarea
{
	width:200px;
	height:200px;	
	background-color:transparent;	
	border-width:0;
	font-family:Calibri,Arial;	
	font-size:18px;
	color:#993333;


}

.cinta
{
	border:medium;
	background-color:#336699;
}

.celda
{
	font-size:20px;
	font-weight:bold;
	width:22px;
	height:22px;
	text-align:center;
	color:white;
}

.cabezal
{
	font-size:20px;
	font-weight:bold;
	width:22px;
	height:22px;
	color:#336699;
	text-align:center;
	border-width:0px;
}

.proceso
{
	font-family:Calibri,Arial;	
	font-size:18px;
	width:150px;
	font-weight:bold;
	color:#CC9900;
	text-align:right;
	height:150px;
	overflow:auto;	
}